.ddsmoothmenu{
	font: 12px 'HelveticaNeue', "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif;
	width: 100%;
}
.ddsmoothmenu ul{
	z-index: 2000;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/*Top level list items*/
.ddsmoothmenu ul li{
	position: relative;
	display: inline-block;
}
.ddsmoothmenu ul li ul {
}
.ddsmoothmenu ul li li{
	margin: 0;
	padding: 0;
}

/*Top level menu link items style*/
.ddsmoothmenu ul li a{
	display: block;
	color: #000;
	text-decoration: none;
}
* html .ddsmoothmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
	display: inline-block;
}

.ddsmoothmenu ul li a:link, .ddsmoothmenu ul li a:visited{
	color: fff;
}

.ddsmoothmenu ul li a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
	color: fff;
}

.ddsmoothmenu ul li a:hover{
	color: #000;
}

/*1st sub level menu*/
.ddsmoothmenu ul li ul{
	position: absolute;
	margin-left: 4px;
	display: none; /*collapse all sub menus to begin with*/
	visibility: hidden;
	width: 140px;

	-webkit-box-shadow: 0 -5px 30px 1px rgba(0,0,0,0.1);
	box-shadow: 0 -5px 30px 1px rgba(0,0,0,0.1);
}
.ddsmoothmenu ul li ul li a{
	text-align: left;
}
/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li{
	display: list-item;
	float: none;
	padding-left: 0;
	text-transform: none;
	color: #666666;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul{
	top: 0;
}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a{
	font: normal 11px 'HelveticaNeue', "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif;
	display: block;
	width: 100%;
	padding: 5px;
	margin: 0;
	background: #fff;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* Holly Hack for IE \*/
* html .ddsmoothmenu{height: 1%;} /*Holly Hack for IE7 and below*/


/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
	position: absolute;
	top: 9px;
	right: 14px;
}

.rightarrowclass{
	position: absolute;
	top: 6px;
	right: 5px;
}

/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow{
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
}

.toplevelshadow{ /*shadow opacity. Doesn't work in IE*/
	opacity: 0.8;
}
